html,
body {
  padding: 0;
  margin: 0;
  /* font-size: 14px; */
  line-height: 24px;
  font-family: "SF Pro Text",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
html{scroll-behavior: smooth;}
.container {
  padding: 0 6rem;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 3em 0; */
  padding-top: 8rem;
  border-bottom: 1px solid rgb(241, 242, 244);
  padding-bottom: 5.5rem;
}
h2{
  font-weight: normal;
  font-size: 2em;
  text-align: center;
  max-width: 42rem;
  margin-bottom: 3rem;
  line-height: 48px;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
