.nav{
    position: fixed;
    /* z-index: 9999; */
    width: 85%;
    /* background: rgb(255, 255, 255) none repeat scroll 0% 0%; */
    background: rgb(255, 255, 255);
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav ul li,
.dropdown a{
    padding: 1.5em;
    color: rgb(80, 82, 86);
    cursor: pointer;
    margin-bottom: 1em;
}
.nav ul li:hover{
    color: black;
}
.nav button{
    background: rgb(241, 242, 244);
    width: 8.5rem;
    border-radius: 8px;
    border: none;
    color: rgb(80, 82, 86);
    cursor: pointer;
    transition: all .4s ease-in-out 0s;
    padding: 1em;
}
.nav button:hover{background: rgb(225, 228, 232);}
.menu{
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 4em;
    margin-bottom: 1.5em;
}
.menu div{
    background-color: black;
    width: 1em;
    height: 2px;
    transition: all .4s ease-in-out 0s;
}
.menu div:first-of-type{transform: translateY(-2px);}
.menu div:last-of-type{transform: translateY(2px);}
.active div:first-of-type{transform: translateY(1px) rotate(135deg);}
.active div:last-of-type{transform: translateY(-1px) rotate(45deg);}
.dropdown{
    display: none;
    position: absolute;
    z-index: 999999;
    background-color:white;
    width: 100em;
    height: 23em;
    flex-direction: column;
    /* justify-content: space-between; */
    left: -60px;
    top: 7em;
    /* bottom: 0; */
}
.dropdown.show{display: flex;}

@media only screen and (max-width: 768px) {
    /* .dropdown{
        display: flex;
    } */
    .menu{display: flex;}
    .nav ul,
    .nav .button{
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .dropdown{
        visibility: hidden;
    }
}